@CHARSET "ISO-8859-1";
@import 'reset';

$plainTextAreaHeight: 502px;
$richTextAreaHeight: 500px;

#textEditor {
	overflow: hidden;
	#postInfo {
		overflow: hidden;
		padding: 1% 0 1% 0;
		#postInfoLeft, #postInfoRight {
			width: 49%;
			padding: 0.5%;
			display: block;
			float: left;
			label {
				display: block;
				float: left;
				width: 16%;
			}
			input {
				display: block;
			}
		}
	}

	#plainEditColumn, #richEditColumn {
		width: 49%;
		display: block;
		float: left;
		padding: 0.5%
	}

	#plainTextArea, #richTextArea {
		width: 100%;
	}

	#richEditColumn {
		#richTextArea {
			height: $richTextAreaHeight;
			border: 1px solid black;
		}
		:focus {
			border: 2px solid blue;
		}
	}

	#plainEditColumn {
		#plainTextArea {
			padding: 8px;
			margin: 0;
			height: $plainTextAreaHeight;
			border: 1px solid black;
			resize: none;
		}
		
		#plainTextArea:focus {
			outline: none;
			border: 1px solid black;
			box-shadow: 2px 2px 5px;
		}
	}

	#footer {
		display: block;
		float: left;
		padding: 1% 0 1% 0;
	}
}